# Ignore everything
*

# Files to un-ignore
!.gitignore
!.gitmodules
!.gitattributes
!README.md
!LICENSE
!CMakeLists.txt
!usplayer.code-workspace
!psiddrv.a65
!Makefile

# File types to un-ignore
!*.cmake
!*.cpp
!*.c
!*.h
!*.yml
!*.js
!*.wasm
!*.html
!*.bin

# Directories to un-ignore
!.github
!.github/workflows
!assets
!assets/cia6526_example
!assets/cia6526_example/**
!assets/tests
!assets/tests/**
!cmake
!src
!src/**
!lib
!lib/driver
!roms
!tests
!web
