# Ignore everything
*

# Files to un-ignore
!.gitignore
!.gitmodules
!.gitattributes
!README.md
!LICENSE
!CMakeLists.txt
!usplayer.code-workspace

# File types to un-ignore
!*.cpp
!*.c
!*.h

# Directories to un-ignore
!src
!src/c64
!src/psid
!src/psiddrv
!src/util
!src/roms
!lib
!lib/driver
